@import url(../reindeer/styles.css);

.v-panel-gray .v-panel-content-gray {
	background: #aaaaaa;
}

.issue-title {
	font-size: 20px;
	color: #0a497f;
	float: left;
	width: 80%;
}

.list-issue-title {
	font-size: 17px;
	width: 80%;
	float: left;
	color: #0a497f;
}

.v-tabsheet-tabs-minimal .v-tabsheet-tabitemcell-selected-first .v-tabsheet-tabitem-selected
	{
	border-left: none;
}

/*
.v-tabsheet-tabs-minimal .v-tabsheet-tabitem-selected {
	background-color: #cccccc;
}
*/
a:link,a:visited {
	line-height: inherit;
	font-weight: normal;
	color: #1b699f;
	text-shadow: none;
	line-height: inherit;
}

.issue-title .v-button-wrap .v-button-caption {
	font-size: 16px;
}

.with-left-margin {
	margin-left: 10px
}

.v-loading-indicator,.v-loading-indicator-delay,.v-loading-indicator-wait
	{
	background: url(../base/common/img/loading-indicator.gif) no-repeat
		center;
	position: fixed !important;
	width: 85px;
	height: 85px;
	top: 44%;
	left: 45%;
	z-index: 30000;
}

.v-panel .v-panel-content-text-content {
	max-height: 200px;
	overflow-x: hidden !important;
	overflow-y: auto !important;
	background-color: #eeeeee;
	width: 100%;
}

/* .text-content { */
/* 	max-height: 200px; */
/* 	overflow-x: hidden !important; */
/* 	overflow-y: auto !important; */
/* 	background-color: #eeeeee; */
/* 	width: 100%; */
/* /* 	margin-rigth: 40px; */
* /
	/* /* 	padding-right: 40px; */    * /
	/* /* 	padding-left: 20px; */    * /
	/* 	white-space: normal; */
	/* } */   

.text-label>div {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.top-right { /* 	position: relative; */
	top: 0px;
	float: right;
	margin-left: 5px;
}

.top-left {
	position: relative;
	top: 0px;
	float: left;
}

.middle-left {
	position: relative;
	float: left;
	vertical-align: middle;
}

.middle {
	vertical-align: middle;
}

.middle-right {
	position: relative;
	float: right;
	vertical-align: middle;
}

.right-margin-5 {
	margin-right: 5px;
}

.right-margin-10 {
	margin-right: 10px;
}

.left-margin-10 {
	margin-left: 10px;
}

.left-margin-20 {
	margin-left: 20px;
}

.right-margin-20 {
	margin-right: 20px;
}

.v-panel-content-text-content>div {
	background: transparent;
}

.horizontal {
	float: left;
	margin-right: 5px;
}

.main-pane {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.entity-frame { /* 	width: 100%; */
	/* 	margin-left: -100%; */
	/* 	float: left; */
	overflow-y: scroll !important;
}

.entity-pane { /* 	border-left-style: solid; */
	/* 	border-width: thin; */
	/* 	border-color: #dddddd; */
	/* 	padding-left: 10px; */
	/* 	margin-left: 350px; */
	/* 	padding-left: 10px; */
	/* 	padding-right: 10px; */
	/* 	margin-bottom: 30px; */
	background-color: white;
	/* 	width: 98%; */
}

.entity-with-header-actions {
	width: 100%;
}

.entity-container {
	width: 100%;
}

.entity-header-action-pane {
	margin-bottom: 10px;
}

.frame-pane {
	background-color: white;
	height: 100%;
	width: 100%;
	/* 	float: left; */
}

.hierarchy-pane {
	width: 350px;
	height: 100%;
	float: left;
}

.hierarchy-tree-container {
	background-color: #eeeeee;
	overflow: auto !important;
	width: 100%;
	height: 100%;
}

.hierarchy-tree {
	overflow: visible !important;
}

/* .v-tree-node span { */
/*     white-space: normal; */
/* } */
.header-bar {
	padding-top: 5px;
	background-color: #ffffff;
	/* 	border-bottom-style: solid; */
	/* 	border-color: #dddddd; */
	/* 	border-width: thin; */
	margin-bottom: 5px;
}

.header-actions {
	margin-right: 20px;
}

.hierarchy-filters-bar {
	border-bottom-style: solid;
	/*border-top-style: solid;*/
	border-width: thin;
	border-color: #cccccc;
	background-color: #dddddd;
	padding-left: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.hierarchy-title-bar {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	/*
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	*/
	margin: 1px;
	/*background-color: #dddddd;*/
}

.footer-action-pane {
	border: thin solid #cccccc;
	background-color: #dddddd;
	padding: 2px;
}

.statuses-pane {
	background-color: #dddddd;
}

.v-tabsheet-minimal .v-tabsheet-content-user-actions-tabsheet {
	/*border: thin solid #dddddd;*/
	background-color: #ffffff;
	width: 100% !important;
	/* 	overflow: hidden !important; */
}

.v-tabsheet-tabsheetpanel>div {
	width: 100% !important;
	overflow: hidden !important;
	/* 	padding-bottom: 5px; */
	/* 	margin-bottom: 20px; */
	/* 	padding-right: 5px; */
}

.user-actions-content-pane { /*border: thin solid #dddddd;*/
	/* 	background-color: #eeeeee; */
	/* 	width: 100%; */
	/* 	overflow: visible !important; */
	
}

.user-actions-tab {
	border: 1px solid #dddddd;
	margin-top: 10px;
	width: 99.8%;
}

/* .user-actions-tabsheet { */
/* 	padding: 0; */
/* 	margin: 0; */
/* 	position: relative; */
/* 	left: 0px; */
/* } */
.list-container {
	border-top-style: solid;
	border-width: thin;
	border-color: #dddddd;
	width: 100%;
	/* 	margin-right: 10px; */
	/* 	margin-bottom: 10px; */
}

.list-filters-bar { /*
	border-top-style: solid;
	border-width: thin;
	border-color: #dddddd;
	margin-top: 5px;
	*/
	
}

.list-actions-container {
	border-bottom-style: solid;
	border-width: thin;
	border-color: #dddddd;
	width: 100%;
}

.list-item {
	border-width: thin;
	border-bottom-style: solid;
	border-color: #dddddd;
	margin-top: 20px;
	width: 100%;
}

.list-refresh-bar { /* 	border: thin solid #dddddd; */
	width: 100%;
	margin-bottom: 5px;
}

.entity-header-container {
	width: 100%;
}

.entity-status-pane {
	width: 100%;
}

.entity-stats-summary-pane {
	width: 100%;
}

.openid-login-pane {
	border-left: thin;
	border-left-color: black;
	border-left-style: solid;
}

.openid-container{
/* 	display: block; */
	margin-left: 75px;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	
}

.top-margin-5{
	margin-top: 5px;
}